{:highlights [{:id #uuid "656c7f3d-55af-42f3-989c-19f7d92f579f",
               :page 1,
               :position {:bounding {:x1 369.9789542257786,
                                     :y1 735.5124053955078,
                                     :x2 627.4009512960911,
                                     :y2 801.2961730957031,
                                     :width 681.9999999999999,
                                     :height 882.5882352941175},
                          :rects ({:x1 369.9789542257786,
                                   :y1 735.5124053955078,
                                   :x2 627.4009512960911,
                                   :y2 747.9883117675781,
                                   :width 681.9999999999999,
                                   :height 882.5882352941175}
                                  {:x1 369.9789542257786,
                                   :y1 748.8393707275391,
                                   :x2 627.3700675070286,
                                   :y2 761.3152770996094,
                                   :width 681.9999999999999,
                                   :height 882.5882352941175}
                                  {:x1 369.9789542257786,
                                   :y1 762.1663360595703,
                                   :x2 627.3679312765598,
                                   :y2 774.6422424316406,
                                   :width 681.9999999999999,
                                   :height 882.5882352941175}
                                  {:x1 369.9789542257786,
                                   :y1 775.4933013916016,
                                   :x2 627.3682974874973,
                                   :y2 787.9692077636719,
                                   :width 681.9999999999999,
                                   :height 882.5882352941175}
                                  {:x1 369.9789542257786,
                                   :y1 788.8202514648438,
                                   :x2 521.0246085226536,
                                   :y2 801.2961730957031,
                                   :width 681.9999999999999,
                                   :height 882.5882352941175}),
                          :page 1},
               :content {:text "Personalized User Interaction: GAI refines networkdriven services by personalizing user experiences, enriching content, formulating recommendations, and designing network interfaces that align with individual user preferences, surpassing what DAI offer"},
               :properties {:color "yellow"}}],
 :extra {:page 10}}
