{:highlights [{:id #uuid "656b7f49-23f3-4efc-877e-72cae01309dd",
               :page 12,
               :position {:bounding {:x1 46.19031524658203,
                                     :y1 46.77037811279297,
                                     :x2 429.8234634399414,
                                     :y2 125.18218231201172,
                                     :width 485.00000000000006,
                                     :height 685.9020358798629},
                          :rects ({:x1 46.19031524658203,
                                   :y1 46.77037811279297,
                                   :x2 422.29557037353516,
                                   :y2 57.724815368652344,
                                   :width 485.00000000000006,
                                   :height 685.9020358798629}
                                  {:x1 46.19031524658203,
                                   :y1 60.26374053955078,
                                   :x2 403.19754791259766,
                                   :y2 71.21819305419922,
                                   :width 485.00000000000006,
                                   :height 685.9020358798629}
                                  {:x1 46.19031524658203,
                                   :y1 73.75235748291016,
                                   :x2 429.8234634399414,
                                   :y2 84.7068099975586,
                                   :width 485.00000000000006,
                                   :height 685.9020358798629}
                                  {:x1 46.19031524658203,
                                   :y1 87.24573516845703,
                                   :x2 413.3115005493164,
                                   :y2 98.20018768310547,
                                   :width 485.00000000000006,
                                   :height 685.9020358798629}
                                  {:x1 46.19031524658203,
                                   :y1 100.7343521118164,
                                   :x2 415.69556427001953,
                                   :y2 111.68880462646484,
                                   :width 485.00000000000006,
                                   :height 685.9020358798629}
                                  {:x1 46.19031524658203,
                                   :y1 114.22772979736328,
                                   :x2 167.35231018066406,
                                   :y2 125.18218231201172,
                                   :width 485.00000000000006,
                                   :height 685.9020358798629}),
                          :page 12},
               :content {:text "The list of occupations most exposed to large language modelling includes many of the same occupations exposed to AI more generally, with both lists including solicitors, psychologists and management consultants and business analysts. It also includes more education related occupations, particularly for post-16 training. This aligns with public statements around the potential use of generative AI tools by teachers, for example in preparing teaching material."},
               :properties {:color "yellow"}}],
 :extra {:page 12}}
