{:blocks (
{:block/created-at 1703350790292
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "var(--tl-foreground, #000)"
:rotation 0
:borderRadius 0
:index 21
:scale [1 1]
:scaleLevel "xl"
:ls-type "whiteboard-shape"
:fill "#ffffff"
:type "text"
:size [804 68]
:fontFamily "'Inter'"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "53098110-a1ad-11ee-9b81-99744738cda8"
:padding 4
:fontWeight 700
:noFill true
:isLocked false
:point [104 96]
:lineHeight 1.2
:fontSize 48
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:nonce 1664366266530
:italic false
:text "in Digital Society by Generative AI"}}
:block/updated-at 1703350790292} 
{:block/created-at 1739451753395
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 12
:scale [1 1]
:pageId "Overview of Machine Learning Techniques"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [752 3771.0211751166153]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ce4f2510-92c5-11ee-9514-49f79b2ac9c4"
:noFill false
:point [1144 216]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:collapsedHeight 0
:nonce 1701708877063}}
:block/updated-at 1739451753395} 
{:block/created-at 1703347698783
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "#ababab"
:rotation 0
:borderRadius 2
:index 0
:scale [1 1]
:ls-type "whiteboard-shape"
:fill "var(--ls-secondary-background-color)"
:type "box"
:size [1071.46875 578.7624827596054]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label ""
:id "d70a49d2-8f52-11ee-ab31-d53aa07477bb"
:fontWeight 400
:noFill false
:point [0 -8]
:fontSize 20
:parentId "63343143-c1b8-4d33-a4d2-b9b91d772e96"
:nonce 1664366266033
:italic false}}
:block/updated-at 1703347698783} 
{:block/created-at 1703058814276
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "#ababab"
:rotation 0
:borderRadius 2
:index 2
:scale [1 1]
:ls-type "whiteboard-shape"
:fill "var(--ls-secondary-background-color)"
:type "box"
:size [840 576]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label ""
:id "d70a49d1-8f52-11ee-ab31-d53aa07477bb"
:fontWeight 400
:noFill false
:point [1160 0]
:fontSize 20
:parentId "63343143-c1b8-4d33-a4d2-b9b91d772e96"
:nonce 1664366266317
:italic false}}
:block/updated-at 1703058814276} 
{:block/created-at 1703342377129
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:rotation 0
:index 13
:scale [1 1]
:type "iframe"
:size [704 632]
:id "3019c2a0-9352-11ee-bfe7-4d3ab44f5a2f"
:url "http://192.168.0.51:3000/canvas/ea764269-5914-47a8-abdf-f1b0979a7142"
:isLocked false
:point [5328 3840]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:nonce 1701522784899}}
:block/updated-at 1703342377129} 
{:block/created-at 1739451749423
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 7
:scale [1 1]
:pageId "State of the art in AI"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [976 15015.980090697598]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f060d740-8f53-11ee-ab31-d53aa07477bb"
:noFill false
:point [5984 -16]
:parentId "65683aec-4f27-42ba-b3af-340bf020f5f7"
:collapsedHeight 1574.374989432415
:nonce 1701330119809}}
:block/updated-at 1739451749423} 
{:block/created-at 1739451749423
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 18
:scale [1 1]
:pageId "Proprietary Image Generation"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [904 6145.635661003201]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "ee94b0d0-9f0c-11ee-a517-0dca4373369e"
:noFill false
:point [3216 0]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:collapsedHeight 0
:nonce 1703058838883}}
:block/updated-at 1739451749423} 
{:block/content "https://bbycroft.net/llm"
:block/format :markdown
:block/left 
{:block/uuid #uuid "656e041c-e570-4d2c-b476-7be9515ab929"}
:block/parent 
{:block/uuid #uuid "659fe0bd-169c-4f61-b6c2-90465510a8e6"}
:block/uuid #uuid "656eec7e-1902-460c-86d2-04ada1b4dac0"} 
{:block/content "[[HOST presentation]]\n[[Presentation: Intro Slide]]\n[[Presentation: Overview of ML techniques]]\n[[Presentation: Slide on Gen AI (1)]]\n[[Closed Source Image Gen]]\n[[Open Generative AI tools]]\n[[Text-to-3D & 4D]]\n[[Presentation: 2024 Prediction and Speculation]]\n[[Soon/Next/Later (AI futurology)]]"
:block/format :markdown
:block/left 
{:block/uuid #uuid "65760a15-5873-4c74-87b2-502611862eaa"}
:block/parent 
{:block/uuid #uuid "65760a15-5873-4c74-87b2-502611862eaa"}
:block/properties 
{}
:block/uuid #uuid "65857279-058e-4c4f-96fb-43c30242f08a"} 
{:block/created-at 1703342377128
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "var(--tl-foreground, #000)"
:borderRadius 0
:index 10
:scale [1 1]
:scaleLevel "xl"
:ls-type "whiteboard-shape"
:fill "#ffffff"
:type "text"
:size [584 68]
:fontFamily "'Inter'"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "f8755941-9216-11ee-877c-099d65b73b4f"
:padding 4
:fontWeight 700
:noFill true
:isLocked false
:point [2144 48]
:lineHeight 1.2
:fontSize 48
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:nonce 1664366267273
:italic false
:text "Generative AI landscape"}}
:block/updated-at 1703342377128} 
{:block/created-at 1703347624904
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "var(--tl-foreground, #000)"
:rotation 0
:borderRadius 0
:index 4
:scale [1 1]
:scaleLevel "lg"
:ls-type "whiteboard-shape"
:fill "#ffffff"
:type "text"
:size [866 49]
:fontFamily "'Inter'"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d70a49e2-8f52-11ee-ab31-d53aa07477bb"
:padding 4
:fontWeight 400
:noFill true
:point [80 176]
:lineHeight 1.2
:fontSize 32
:parentId "63343143-c1b8-4d33-a4d2-b9b91d772e96"
:nonce 1664366266317
:italic false
:text "A somewhat freeform exploration of artificial intelligence"}}
:block/updated-at 1703347624904} 
{:block/created-at 1703342377129
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "gray"
:index 15
:scale [1 1]
:ls-type "whiteboard-shape"
:fill "gray"
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "08bc6d10-98d0-11ee-a986-5d0c22591cee"
:fontWeight 400
:noFill true
:isLocked false
:point [2000 295.89]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0.11]
:bindingId "d70a70eb-8f52-11ee-ab31-d53aa07477bb"}
:end 
{:id "end"
:canBind true
:point [92 0]
:bindingId "109713a1-98d0-11ee-a986-5d0c22591cee"}}
:decorations 
{:end "arrow"}
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:nonce 1664466318115
:italic false}}
:block/updated-at 1703342377129} 
{:block/created-at 1739451753369
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 11
:scale [1 1]
:pageId "Proprietary Large Language Models"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [976 4643.188099758164]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6dec0120-92c5-11ee-9514-49f79b2ac9c4"
:noFill false
:point [2152 192]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:collapsedHeight 0
:nonce 1701708716012}}
:block/updated-at 1739451753369} 
{:block/created-at 1739451749423
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 17
:scale [1 1]
:pageId "Soon-Next-Later (AI futurology)"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [720 4418.73990506268]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "14f4a350-922b-11ee-877c-099d65b73b4f"
:noFill false
:point [7024 -16]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:collapsedHeight 0
:nonce 1701642424672}}
:block/updated-at 1739451749423} 
{:block/created-at 1739451749423
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 20
:scale [1 1]
:pageId "3D and 4D"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [784 6503.801784344144]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "6ad65790-a0b9-11ee-bfb9-4d56e424cb2f"
:noFill false
:point [5160 -16]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:collapsedHeight 0
:nonce 1703242872003}}
:block/updated-at 1739451749423} 
{:block/created-at 1704361293850
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed true
:borderRadius 8
:index 8
:scale [1 1]
:pageId "HOST January 17th Presentation"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing false
:type "logseq-portal"
:size [1008 40]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "2fc1d670-9114-11ee-904a-cd35ec13b0f5"
:noFill false
:point [32 248]
:parentId "65683aec-4f27-42ba-b3af-340bf020f5f7"
:collapsedHeight 4903.2764127025675
:nonce 1701522639525}}
:block/updated-at 1704361293850} 
{:block/content "http://192.168.0.51:7860/"
:block/format :markdown
:block/left 
{:block/uuid #uuid "656887fb-5eb1-4c1a-86d5-afa246d65bd5"}
:block/parent 
{:block/uuid #uuid "659fe0bd-169c-4f61-b6c2-90465510a8e6"}
:block/uuid #uuid "656b2d35-f945-471f-821d-7a39bb832033"} 
{:block/created-at 1703342377128
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:index 19
:scale [1 1]
:type "image"
:assetId "56e2cf00-9f0d-11ee-a517-0dca4373369e"
:size [345.5 768]
:opacity 1
:id "56e455a0-9f0d-11ee-a517-0dca4373369e"
:isAspectRatioLocked true
:isLocked false
:objectFit "fill"
:point [3696 1808]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:nonce 1703059013767
:clipping 0}}
:block/updated-at 1703342377128} 
{:block/content "HOSTJan17slideML"
:block/format :markdown
:block/left 
{:block/uuid #uuid "656b2d35-f945-471f-821d-7a39bb832033"}
:block/parent 
{:block/uuid #uuid "659fe0bd-169c-4f61-b6c2-90465510a8e6"}
:block/uuid #uuid "656e041c-e570-4d2c-b476-7be9515ab929"} 
{:block/content "http://192.168.0.51:8188"
:block/format :markdown
:block/left 
{:block/uuid #uuid "2e470a1c-54dd-4783-8655-81b4618e784b"}
:block/parent 
{:block/uuid #uuid "659fe0bd-169c-4f61-b6c2-90465510a8e6"}
:block/uuid #uuid "656887fb-5eb1-4c1a-86d5-afa246d65bd5"} 
{:block/created-at 1703058814275
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "gray"
:index 6
:scale [1 1]
:ls-type "whiteboard-shape"
:fill "gray"
:type "line"
:strokeType "line"
:strokeWidth 1
:opacity 1
:label ""
:id "d70a49f8-8f52-11ee-ab31-d53aa07477bb"
:fontWeight 400
:noFill true
:point [1072.47 299.49]
:fontSize 20
:handles 
{:start 
{:id "start"
:canBind true
:point [0 0]
:bindingId "d70a70eb-8f52-11ee-ab31-d53aa07477bb"}
:end 
{:id "end"
:canBind true
:point [83.53 0.99]
:bindingId "d70a70ec-8f52-11ee-ab31-d53aa07477bb"}}
:decorations 
{:end "arrow"}
:parentId "63343143-c1b8-4d33-a4d2-b9b91d772e96"
:nonce 1664466317984
:italic false}}
:block/updated-at 1703058814275} 
{:block/created-at 1703342377120
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:index 14
:scale [1 1]
:type "image"
:assetId "cbdfd4b0-9855-11ee-8aa0-135a112877f3"
:size [282.4611119326928 193.26286605921092]
:opacity 1
:id "cbe1d080-9855-11ee-8aa0-135a112877f3"
:isAspectRatioLocked true
:isLocked false
:objectFit "fill"
:point [2857.0447161570373 24]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:nonce 1702320475792
:clipping 0}}
:block/updated-at 1703342377120} 
{:block/created-at 1703347620906
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "var(--tl-foreground, #000)"
:rotation 0
:borderRadius 0
:index 3
:scale [1 1]
:scaleLevel "xl"
:ls-type "whiteboard-shape"
:fill "#ffffff"
:type "text"
:size [682 68]
:fontFamily "'Inter'"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d70a49d3-8f52-11ee-ab31-d53aa07477bb"
:padding 4
:fontWeight 700
:noFill true
:point [176 16]
:lineHeight 1.2
:fontSize 48
:parentId "63343143-c1b8-4d33-a4d2-b9b91d772e96"
:nonce 1664366266293
:italic false
:text "Convergence and Disruption"}}
:block/updated-at 1703347620906} 
{:block/created-at 1739451749419
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:blockType "P"
:stroke ""
:rotation 0
:collapsed false
:borderRadius 8
:index 16
:scale [1 1]
:pageId "Open Generative AI tools"
:scaleLevel "md"
:fill ""
:compact false
:isAutoResizing true
:type "logseq-portal"
:size [928 4456.427347839611]
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "99b17040-9cf4-11ee-b2e6-6fd1018c874c"
:noFill false
:point [4088 112]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:collapsedHeight 0
:nonce 1702828486552}}
:block/updated-at 1739451749419} 
{:block/content ""
:block/format :markdown
:block/left 
{:block/uuid #uuid "656eecac-3107-44be-bde1-b18cf0ab7dbc"}
:block/parent 
{:block/uuid #uuid "659fe0bd-169c-4f61-b6c2-90465510a8e6"}
:block/uuid #uuid "65760a15-5873-4c74-87b2-502611862eaa"} 
{:block/created-at 1703058814275
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:index 1
:scale [1 1]
:type "youtube"
:size [853 480]
:id "937e9a90-95d3-11ee-9dcc-b7fb84b5a136"
:url "https://youtu.be/vlV1vRD4jrY"
:isLocked false
:point [104 296]
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:nonce 1702044644180}}
:block/updated-at 1703058814275} 
{:block/created-at 1703058814276
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:isSizeLocked true
:stroke "var(--tl-foreground, #000)"
:borderRadius 0
:index 5
:scale [1 1]
:scaleLevel "xl"
:ls-type "whiteboard-shape"
:fill "#ffffff"
:type "text"
:size [676 68]
:fontFamily "'Inter'"
:strokeType "line"
:strokeWidth 2
:opacity 1
:id "d70a49e3-8f52-11ee-ab31-d53aa07477bb"
:padding 4
:fontWeight 700
:noFill true
:point [1195.2177197089186 52.077792876827516]
:lineHeight 1.2
:fontSize 48
:parentId "63343143-c1b8-4d33-a4d2-b9b91d772e96"
:nonce 1664366266095
:italic false
:text "History and inflection point?"}}
:block/updated-at 1703058814276} 
{:block/content "public:: true"
:block/format :markdown
:block/left 
{:block/uuid #uuid "659fe0bd-169c-4f61-b6c2-90465510a8e6"}
:block/parent 
{:block/uuid #uuid "659fe0bd-169c-4f61-b6c2-90465510a8e6"}
:block/properties 
{:public true}
:block/uuid #uuid "2e470a1c-54dd-4783-8655-81b4618e784b"} 
{:block/content "https://bbycroft.net/llm"
:block/format :markdown
:block/left 
{:block/uuid #uuid "656eec7e-1902-460c-86d2-04ada1b4dac0"}
:block/parent 
{:block/uuid #uuid "659fe0bd-169c-4f61-b6c2-90465510a8e6"}
:block/uuid #uuid "656eecac-3107-44be-bde1-b18cf0ab7dbc"} 
{:block/created-at 1703342377129
:block/properties 
{:ls-type :whiteboard-shape
:logseq.tldraw.shape 
{:stroke "#ababab"
:rotation 0
:borderRadius 2
:index 9
:scale [1 1]
:ls-type "whiteboard-shape"
:fill "var(--ls-secondary-background-color)"
:type "box"
:size [1071.46875 578.7624827596054]
:strokeType "line"
:strokeWidth 2
:opacity 1
:label ""
:id "f8755940-9216-11ee-877c-099d65b73b4f"
:fontWeight 400
:noFill false
:isLocked false
:point [2096 0]
:fontSize 20
:parentId "656c6702-26a0-44bf-87fe-007af715090d"
:nonce 1664366266635
:italic false}}
:block/updated-at 1703342377129})
:pages (
{:block/uuid #uuid "659fe0bd-169c-4f61-b6c2-90465510a8e6"
:block/properties 
{:ls-type :whiteboard-page
:logseq.tldraw.page 
{:id "659fe0bd-169c-4f61-b6c2-90465510a8e6"
:name "january presentation for host"
:bindings 
{:109713a1-98d0-11ee-a986-5d0c22591cee 
{:id "109713a1-98d0-11ee-a986-5d0c22591cee"
:type "line"
:fromId "08bc6d10-98d0-11ee-a986-5d0c22591cee"
:toId "f8755940-9216-11ee-877c-099d65b73b4f"
:handleId "end"
:point [0.5 0.51]
:distance 4}}
:nonce 0
:assets [
{:id "cbdfd4b0-9855-11ee-8aa0-135a112877f3"
:type "image"
:src "../assets/ComfyUI_temp_uqspa_00028_1702320475504_0.png"
:size [1216 832]} 
{:id "56e2cf00-9f0d-11ee-a517-0dca4373369e"
:type "image"
:src "../assets/image_1703059013371_0.png"
:size [691 1536]}]
:shapes-index ("d70a49d2-8f52-11ee-ab31-d53aa07477bb" "937e9a90-95d3-11ee-9dcc-b7fb84b5a136" "d70a49d1-8f52-11ee-ab31-d53aa07477bb" "d70a49d3-8f52-11ee-ab31-d53aa07477bb" "d70a49e2-8f52-11ee-ab31-d53aa07477bb" "d70a49e3-8f52-11ee-ab31-d53aa07477bb" "d70a49f8-8f52-11ee-ab31-d53aa07477bb" "f060d740-8f53-11ee-ab31-d53aa07477bb" "2fc1d670-9114-11ee-904a-cd35ec13b0f5" "f8755940-9216-11ee-877c-099d65b73b4f" "f8755941-9216-11ee-877c-099d65b73b4f" "6dec0120-92c5-11ee-9514-49f79b2ac9c4" "ce4f2510-92c5-11ee-9514-49f79b2ac9c4" "3019c2a0-9352-11ee-bfe7-4d3ab44f5a2f" "cbe1d080-9855-11ee-8aa0-135a112877f3" "08bc6d10-98d0-11ee-a986-5d0c22591cee" "99b17040-9cf4-11ee-b2e6-6fd1018c874c" "14f4a350-922b-11ee-877c-099d65b73b4f" "ee94b0d0-9f0c-11ee-a517-0dca4373369e" "56e455a0-9f0d-11ee-a517-0dca4373369e" "6ad65790-a0b9-11ee-bfb9-4d56e424cb2f" "53098110-a1ad-11ee-9b81-99744738cda8")}}
:block/journal? false
:block/updated-at 1739451753395
:block/created-at 1701329644523
:block/type "whiteboard"
:block/name "january presentation for host"
:block/original-name "january presentation for host"})}